<carousel id="homeCarousel" class="slide-animated">
    <slide class="animated fadeIn">
        <img class="carouselimg" src=" ./../../../assets/images/walmart.png " alt="walmart revenue model ">
    </slide>
    <slide class="animated fadeIn ">
        <img class="carouselimg" src="./../../../assets/images/walmart2.jpg " alt="Walmart revenue Model ">
    </slide>
    <slide class="animated fadeIn ">
        <img class="carouselimg" src="./../../../assets/images/walmart3.jpg " alt="Business Model ">
    </slide>
</carousel>