.account {
    background-image: url("./../../../assets/images/secure.jpg");
    background-repeat: no-repeat;
    margin-left: 150px;
    height: 570px;
}

.login {
    padding-left: 300px;
}

.register {
    padding-left: 300px;
}

.login_btn {
    width: 100px;
}