.footer {
    background: black;
    color: white;
    height: 100px;
    padding-top: 20px;
    text-align: center;
}

.startuplogo {
    width: 80%;
    height: 200px;
    margin: 5% 0 5% 9%;
}

.content {
    height: 600px;
}

.card1 {
    height: 600px;
}

.navlinks {
    margin-left: 300px;
}